/* FONTS */
$hand_font: 'Kram';
$bold_font: 'Inter', sans-serif;
$title_font: 'Inter', sans-serif;
$common_font: 'Inter', sans-serif;

/* COLORS */
$first_color: #32a2fb;
$second_color: #f47723;

/* BLUE COLORS */
$third_color: rgba(93,93,255,1);
$third_color_hover: rgba(75,74,207,1);
$third_color_dark: rgba(93,93,255,1);

/* GREEN COLORS*/
$green_color: #52ae4a;
$light_green: rgba(167,243,208,1);

$title_color: rgba(217,227,234,1);
$red_color: #f56f5e;

/* Оттенки светлого */
$dark_light_color: rgba(51,54,58,1);

/* Оттенки темного*/
$main_bg_color: rgba(21,23,25,1);
$bg_light: rgba(37,40,44,1);
$bg_dark_light: rgba(29,31,35,1);


$first_gradient: linear-gradient(to right, #2797fb, #48bffb);
$second_gradient: linear-gradient(to right, #f47723, #facd33);